
/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*navbar Section*/

.navbar-one{
    display: grid;
    position: relative;
    
    grid-template-columns: 50px 50px 1fr 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas:
    "logo search . menu sign-in";
    margin: 20px 55px 20px 55px;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: rgb(0,0,0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#logo{
    grid-area: logo;
    justify-self: center;
    align-self: center;
    }
#search{
    grid-area: search;
    height: 40px;
    width: 50%;
    border: 1px solid rgb(0, 0, 0, 0.151);
    border-radius: 30px;
    align-self: center;
    justify-self: center;
}
#search:hover{
    box-shadow: 1px 1px 5px grey;
}
  
#search:focus{
    box-shadow: 1px 1px 5px grey;
  }
#search:active{
    box-shadow: 1px 1px 5px grey;
}
#menu{
    grid-area: menu;
    justify-self: left;
    align-self: center;
}
#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 65px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}
.navbar-two{
    margin-left: 200px;  
}
.navbar-two a {
    color: #777;
    padding: 25px 5px;
}
a:hover{
    color: #4285f4;
}
.border{
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
}

/*main section */

.main{
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-three span{
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;   
}
.main .box-1{
    position: relative;
    margin-right: 550px;
    margin-top: 15px;
    padding: 25px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}
.main p{
    color: black;
    font-size: 12px;
    padding-top: 15px;
}
.box-1 img{
    float: right;
}
.box-1 h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
.box-1 ol{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.box-1 li{
    padding-top: 4px;
}
#body-h2{
    color: #120A8F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 30px;
}
.main cite{
    color: #006400;
    font-size: 15px;
}
.main-body{
    position: relative;
    margin-right: 550px;
    margin-top: 15px;
    padding: 25px;
    border: 1px transparent solid;
}